you need to login in order to use this site, if you don't have your login ID contact your service providor or login below
 <form method="post" action="login.php" id="input">
                                <div class="column left" style="width:50%;float:left;">
                                    <p><label for="username" style="width:30%">Username</label>
                                        <input type="text" name="username" id="username" size="35" style = "width:50%;display:inline" value="">
                                        
                                    </p>
                                    <p><label for="Password">Password   </label>
                                        <input type="password"  name="password" id="password" style = "width:50%;display:inline"  value="">
                                        <br><span class="validation" style="margin-left:20%;"> passwords are case sensitive</span>
                                    </p>
                                   
                                </div>
                               
                                <div class="clear"></div>
                                <p style ="margin-left:13%;padding-bottom:4%;"><button type="submit" class="button" name="btnlogin" id="input" value="Login">Login</button> 
                                </p>
                            </form>
