<!-- this is the content box -->

Installable Games
<hr>
<span style="padding-right:1%;">Choose a Game to install from the list</span>
<select id="theSelect">
<option>Choose Game</option>
<option value="gmod">Garry's Mod</option>
<option value="fof">Fistful of Frags</option>
<option value="css">Counterstrike Source</option>
</select>

<a class="button" href="#">install</a>
<div class = "box1 gmod" >

<div class="desc"><img class ="textwrap" style="max-width:50px"src="/images/gmod-logo.png" />Garry's Mod is a Sandbox Game based around the idea of building. Unlike most other games there aren't any objectives - you can't lose and you definitely can't win.</div>
</div>
<div class = "box1 fof" >
<div class="desc">
<img class="textwrap" style="max-width:50px"src="/images/fof-logo.png" />
Fistful of Frags born years ago as a Wild West themed modification for Source engine. It has been completely renewed for its Steam release, paying special attention to combat mechanics. 

Also note this is a completely *free* standalone mod, no micro-transactions exist, no registration required. Just install and play. You may see ads when joining certain third party servers that host our game for free. That's however completely unrelated to FoF dev team, we do not profit from them.
Features
Classic death-match and up to 4 teams death-match: non stop, all around action 
Teamplay-objective based game mode: zone capture or 'push the cart' levels. 
Detailed dual wield system: double dynamic crosshair, weapon flip for extra accuracy options, drop or throw your handguns as projectile attack 
Advanced multiplayer bots for off-line practice </div>
</div>
<div class = "box1 css" >
<div style="float:left;"><img style="max-width:50px"src="/images/css-logo.png" /></div>
<div class="desc">guff to go here - fof</div>
</div>
<style type="text/css">
    .box1{
        padding: 20px;
        display: none;
        border: 0px solid #000;
    }
   .desc{
        margin-left:1%;
        float:right;
         width:100%;
    } 
  .textwrap {
	float: left;
	margin: 10px;
    }
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        
        $(this).find("option:selected").each(function(){
            
 var attr = $(this).attr('value');

// For some browsers, `attr` is undefined; for others,
// `attr` is false.  Check for both.
if (typeof attr !== typeof undefined && attr !== false) {
    // ... alert ($(this).attr("value"));
	$(".box1").not("."+attr).hide();
        $("."+attr).show();
}
	     
            else{
                $(".box1").hide();
            }
        });
    }).change();
});
</script>
