<div id="col" class="noprint">
            <div id="col-in" >

                
            <div id="links" style="min-height:100px;padding:5%;">
                    <div style="margin-right:0%;padding:1%;min-width:20%;" class="panel">
<span style="width:100%;font-weight:bold;"><center>Your Resource</center></span>
<div style="width:69%;float:left;clear:left;">Game Ports</div><div style="float:left;font-weight:bold;"> <!--#ownedports#--></div>
<div style="width:69%;float:left;clear:left;">Game Slots</div><div style="float:left;font-weight:bold;"> <!--#ownedslots#--></div>
<div style="width:69%;float:left;clear:left;">Disk Space</div><div style="float:left;font-weight:bold;"> <!--#total#--></div>
<br style="clear:both;"><hr>
<span style="width:100%;font-weight:bold;"><center>Used Resource</center></span>
<div style="width:70%;float:left;clear:left;">Allocated Ports</div><div style="float:left;font-weight:bold;"><!--#usedports#-->/<!--#ownedports#--></div> 
<div style="width:70%;float:left;clear:left;">Slots In Use</div><div style="float:left;font-weight:bold;"> <!--#total_players#-->/<!--#usedslots#--></div>
<div style="width:70%;float:left;clear:left;">Total used</div> <div style="float:left;font-weight:bold;"><!--#totalused#--></div><br>
<div style="width:70%;float:left;clear:left;">Game Space</div> <div style="float:left;font-weight:bold;"><!--#games#--></div>
<div style="width:70%;float:left;clear:left;">Web/Fast DL</div> <div style="float:left;font-weight:bold;"><!--#web#--></div>
<div style="width:70%;float:left;clear:left;">Mail</div> <div style="float:left;font-weight:bold;"><!--#mail#--></div>
<br style="clear:both;"><hr>
<span style="width:100%;font-weight:bold;"><center>Stopped Games</center></span>
                </div>
            </div> <!-- /col-in -->
        </div> <!-- /col -->

    </div> <!-- /page-in -->
    </div> <!-- /page -->
</div>
